cmake-build-debug/
.idea/
CMakeCache.txt
CMakeFiles/
Makefile
aed3_2019_1c_tp2
main-bellman-ford
main-min-path
cmake_install.cmake
lib/googletest/CMakeFiles/
lib/googletest/CTestTestfile.cmake
lib/googletest/Makefile
lib/googletest/cmake_install.cmake
lib/googletest/googlemock/CMakeFiles/
lib/googletest/googlemock/CTestTestfile.cmake
lib/googletest/googlemock/Makefile
lib/googletest/googlemock/cmake_install.cmake
lib/googletest/googlemock/gtest/
lib/googletest/googlemock/libgmock.a
lib/googletest/googlemock/libgmock_main.a
lib/googletest/googlemock/libgmock_maind.a
lib/googletest/googlemock/libgmockd.a
RunSegmentacion
